{% extends "main/base.html" %}

{% block title %}Тест для статьи: {{ article.title }}{% endblock %}

{% block content %}
<h2>Тест для статьи: {{ article.title }}</h2>

<form method="POST">
    {% csrf_token %}
    {% for question in questions %}
        <div>
            <strong>{{ question.text }}</strong>
            <ul>
                {% if question.question_type == 'mcq' %}
                    <!-- Если вопрос с множественным выбором, показываем радиокнопки -->
                    {% for answer in question.answer_set.all %}
                        <li>
                            <label>
                                <input type="radio" name="question_{{ question.id }}" value="{{ answer.id }}">
                                {{ answer.text }}
                            </label>
                        </li>
                    {% endfor %}
                {% elif question.question_type == 'text' %}
                    <!-- Если вопрос открытого типа, показываем текстовое поле для ввода -->
                    <textarea name="question_{{ question.id }}" placeholder="Введите ваш ответ здесь"></textarea>
                {% endif %}
            </ul>
        </div>
    {% empty %}
        <p>Нет вопросов для этого теста.</p>
    {% endfor %}
    <button type="submit">Отправить тест</button>
</form>

<a href="{% url 'course_detail' article.course.id %}">Назад к курсу</a>

{% endblock %}