{% extends "main/base.html" %}

{% block title %}Тесты для {{ article.title }}{% endblock %}

{% block content %}
<h2>Тест для статьи: {{ article.title }}</h2>

<ul>
    {% for question in questions %}
    <li>2222Нет вариантов ответа.</li>
        <li>
            <strong>{{ question.text }}</strong>
            <ul>
                {% for answer in question.answer_set.all %}
                    <li>{{ answer.text }}</li>
                {% empty %}
                    <li>Нет вариантов ответа.</li>
                {% endfor %}
            </ul>
        </li>
    {% empty %}
        <p>Нет вопросов для этого теста.</p>
    {% endfor %}
</ul>

<a href="{% url 'course_detail' test.article.course.id %}">Назад к курсу</a>

{% endblock %}
