{% extends "main/base.html" %}

{% block content %}
<div class="container mt-5" style="font-size: 20px;">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h3 class="mb-4">Ваш профиль</h3>
                    <h4>Ваши курсы</h4>
                    <ul class="list-group mb-4">
                        {% for course in courses %}
                            <li class="list-group-item">
                                <a href="{% url 'course_detail' course.id %}">{{ course.title }}</a>
                            </li>
                        {% empty %}
                            <li class="list-group-item">Вы пока не записаны на курсы.</li>
                        {% endfor %}
                    </ul>
                    
                    <h4>Результаты финальных тестов</h4>
                    <ul class="list-group mb-4">
                        {% for result in final_test_results %}
                            <li class="list-group-item">
                                Курс {{ result.final_test.course.title }}: {{ result.score }} баллов из {{ result.total_questions }}</br>
                                <a href="{% url 'download_certificate' result.final_test.course.id %}" class="btn btn-success float-right">Скачать сертификат</a>
                            </li>
                        {% empty %}
                            <li class="list-group-item">Вы пока не прошли ни один финальный тест.</li>
                        {% endfor %}
                    </ul>

                    <h4>Информация о пользователе</h4>
                    <p>Имя: {{ user.username }}</p>
                    {% if user.email %}
                        <p>Email: {{ user.email }}</p>
                    {% endif %}
                    <a href="{% url 'edit_profile' %}" class="btn btn-primary mt-3">Редактировать профиль</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
