{% extends "main/base.html" %}


{% block content %}
<h2>Ваш профиль</h2>

<ul>
<h3>Ваши курсы</h3>

    {% for course in courses %}
        <li>
            <a href="{% url 'course_detail' course.id %}">{{ course.title }}</a>
        </li>
    {% empty %}
        <p>Вы пока не записаны на курсы.</p>
    {% endfor %}

<h3>Информация о пользователе</h3>
<p>Имя: {{ user.username }}</p>
{% if user.email %}
    <p>Email: {{ user.email }}</p>
{% endif %}
    
<a href="{% url 'edit_profile' %}" class="btn btn-primary">Редактировать профиль</a>

</ul>

{% endblock %}
