{% extends "main/base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<h1 class="text-margin">О нас</h1>
<p class="lead text-margin">
    ИНТЕЛЛЕКСИУМ — это образовательная платформа, предоставляющая курсы по интеллектуальной собственности, 
    созданные для широкой аудитории без специальной юридической подготовки. Мы предлагаем материалы в интерактивной форме, 
    включая текст, видео, инфографику и анимации.
</p>
<p class="lead text-margin">
    Наши курсы помогут вам разобраться с основами авторского права, патентов, торговых марок и других аспектов интеллектуальной собственности.
</p>
{% endblock %}