{% extends "main/base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
<h1 class="text-margin">О нас</h1>
<style>
    p {
     text-indent: 20px; /* Отступ первой строки в пикселах */
    }
   </style>
<p class="lead text-margin col-md-14 text-center">
    "ИНТЕЛЛЕКСИУМ" — образовательная платформа, созданная для тех, кто не имеет юридического образования, но хочет разобраться в вопросах интеллектуального права. 
    Мы предлагаем доступные и понятные курсы и тесты, которые помогут вам получить знания об авторских правах, патентах, товарных знаках и других аспектах интеллектуальной собственности.
    Наша цель — сделать сложные правовые темы понятными и полезными для каждого. </p>
<p class="lead text-margin col-md-14 text-center">
    На платформе "Интеллексиум" вы сможете изучать материалы в удобном формате и темпе, а также проверять свои знания с помощью тестов.
    Кроме того, по окончании каждого курса вы получите сертификат, подтверждающий ваши знания в сфере права интеллектуальной собственности.  </p>
</p>
<p class="lead text-margin text-center">
    Станьте частью "Интеллексиум" и расширьте свои знания в мире интеллектуального права! 
</p>
{% endblock %}