{% extends "main/base.html" %}


<head>
{% block title %}Article Detail{% endblock %}
<style>
.text-margin {
    margin-left: 15px;
    margin-right: 15px;
}
</style>
</head>

{% block content %}

<div class="text-margin col-md-6 col-lg-4">
<h2>{{ article.title }}</h2>
<p>{{ article.content|safe  }}</p></br>

{% for test in tests %}

    <a href="{% url 'test_detail' article.course.id article.id test.id %}" class="btn btn-link text-decoration-none">Пройти тест</a></br>
{%  endfor %}
    <a href="{% url 'course_detail' article.course.id %}" class="btn btn-primary" style="margin-bottom: 20px;">Вернуться к курсу</a>

</div>

{% endblock %}
