{% extends "main/base.html" %}

{% block title %}
{{title}}
{% endblock %}

{% block content %}
    {% comment %} <h1 class="text-margin">Курсы</h1> {% endcomment %}
    <div class="section">
        <h2 class="text-center">Наши курсы</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Курс 1">
                    <div class="card-body">
                        <h5 class="card-title">Курс 1</h5>
                        <p class="card-text">Описание курса 1.</p>
                        <a href="#" class="btn btn-primary">Записаться</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Курс 2">
                    <div class="card-body">
                        <h5 class="card-title">Курс 2</h5>
                        <p class="card-text">Описание курса 2.</p>
                        <a href="#" class="btn btn-primary">Записаться</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img src="https://via.placeholder.com/300x200" class="card-img-top" alt="Курс 3">
                    <div class="card-body">
                        <h5 class="card-title">Курс 3</h5>
                        <p class="card-text">Описание курса 3.</p>
                        <a href="#" class="btn btn-primary">Записаться</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}